.navigationText {
  text-align: center;
}

.navText {
  font-weight: normal;
  font-size: 13pt;
  font-family: @main-font;
  display: inline-block;
}

li {
  font-size: 10pt;
  font-family: @main-font;
  cursor: pointer;
  text-decoration: underline;
  color: -webkit-link;
}
