.ant-btn {
  border-radius: 8px;
  // width: 80px;
  // height: 30px;
  background-color: @blue;
  color: @white;
  border: none;
  transition: @normal;
}

.ant-btn:hover {
  background-color: @white;
  color: @blue;
}

.enterButton{
  margin: @space-small;
  display: inline;
}
