.ant-fullcalendar-calendar-body {
  border-radius: 30px;
  border: solid 1px @x-light-gray;
  padding: 10px;
  cursor: pointer;
}

.calendar {
  width: 300px;
  border: 1px solid @x-light-gray;
  border-radius: 30px;
  margin-top: @space-base;
  margin-right: 10px;
  background-color: transparent;
  margin-left: 40px;
  -webkit-box-shadow: 10px 10px 5px -2px rgba(0,0,0,0.27);
  -moz-box-shadow: 10px 10px 5px -2px rgba(0,0,0,0.27);
  box-shadow: 10px 10px 5px -2px rgba(0,0,0,0.27);
}
