.forum{
    border-radius: @radius-xx-large;
    border: solid 1px @x-light-gray;
    padding: @space-base;
    margin-top: @space-base;
    margin-left: @space-xx-large;
    margin-right: @space-xx-large;
    text-align: center;
    -webkit-box-shadow: 10px 10px 5px -2px rgba(0,0,0,0.27);
    -moz-box-shadow: 10px 10px 5px -2px rgba(0,0,0,0.27);
    box-shadow: 10px 10px 5px -2px rgba(0,0,0,0.27);
}

.forumImg{
   height: 170px;
   width: 170px;
   cursor: pointer;
   margin-top: 30px;
}

.forumText{
    cursor: pointer;
}
