.ant-layout-header {
  // background-color: #E4E4E1;
  // height: 60px;
  background-color: transparent;
}

#headerText{
  font-family: @main-font;
  text-align: center;
  font-weight: 500;
  font-size: 18px;
}

.header{
  background-color: #DCD9D4; 
  background-image: linear-gradient(to bottom, rgba(255,255,255,0.50) 0%, rgba(0,0,0,0.50) 100%), radial-gradient(at 50% 0%, rgba(255,255,255,0.10) 0%, rgba(0,0,0,0.50) 50%); 
  background-blend-mode: soft-light,screen;
}
