// html,
// body {
//   height: 100%;
//   margin: 0;
// }

#root {
  min-height: 100%;
}

// .ant-layout {
//   height: 100%;
// }

.ant-layout {
  background-color: transparent;
}


.myLayout {
  width: 100%;
  height: 100%;
  //background-color: #E4E4E1;
  background-image: linear-gradient(to top, #d5d4d0 0%, #d5d4d0 1%, #eeeeec 31%, #efeeec 75%, #e9e9e7 100%);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}