// .loginForm {
//   border-radius: 20px;
//   border: solid 1px #ebe9e6;
//   text-align: center;
//   padding: 7px;
//   font-family: Verdana, Tahoma, Arial, Helvetica;
// }

.ant-form-item-required {
  text-align: left;
}
.ant-input {
  width: 150px;
  height: 30px;
}

.loginForm {
    text-align: center;
  padding: 7px;
  font-family: @main-font;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 360px;
  height: 300px;
  object-fit: contain;
  border-radius: 18px;
  border: solid 1px #ebe9e6;
  padding: 32px 40px 40px 40px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 200px;
  margin-bottom: 200px;
  background-color: #DCD9D4; 
  background-image: linear-gradient(to bottom, rgba(255,255,255,0.50) 0%, rgba(0,0,0,0.50) 100%), radial-gradient(at 50% 0%, rgba(255,255,255,0.10) 0%, rgba(0,0,0,0.50) 50%); 
  background-blend-mode: soft-light,screen;
}

body{
  background-image: linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%);    height: 100%;
}

