@import "./variables.less";
@import "./reset.less";

.mainInf {
  border-radius: @radius-xx-large;
  border: solid 1px @x-light-gray;
  padding: @space-base;
  margin-top: @space-base;
  margin-left: 10px;
  margin-right: 10px;
  font-family: @main-font;
}

.oneRow{
  display: flex; 
  flex-direction: row;
}
@import "./images.less";
@import "./layout.less";
@import "./sider.less";
@import "./login.less";
@import "./header.less";
@import "./calendar.less";
@import "./browse.less";
@import "./collapse.less";
@import "./footer.less";
@import "./button.less";
@import "./text.less";
@import "./rightSider.less";
@import "./forum.less";
@import "./publications.less";
