* {
  box-sizing: border-box;
  font-family: @main-font;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0 0 1em; /* or ‘0 0 1em’ if you’re so inclined */
}

ul {
  margin: 0;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
}

a, input, textarea, select, button {
  outline: none;
}

button {
  border: none;
  font-family: @main-font;
}

textarea {
  font-family: @main-font;
}
