.ant-layout-sider {
  background-color: #E4E4E1;
  border: solid 1px @x-light-gray;
  border-radius: 8px;
  text-align: center;
  //   overflow: auto;
  //   height: 100vh;
  //   width: 200px;
  //   position: fixed;
  //   left: 0;
  // z-index: 3;
}

.navigation {
  border-radius: @radius-xx-large;
  border: solid 1px #ebe9e6;
}

.ant-col-12{
  width: auto;
}
