@primary-color: #f0f2f5;
@white: #ffffff;
@black: #000000;
@marine: #00C2FF;
@marine-light: #A9EAFF;
@violet: #273CC8;
@light-violet: #BBBAFF;
@blue: #444AE8;
@light-blue: #165FC5;
@lighter-blue: #00C2FF;
@purple-blue: #535894;
@orange: #FD8E00;
@lighter-orange: #FFB366;
@darker-gray: #525252;
@dark-gray: #656565;
@gray: #6D6D6D;
@light-gray: #888888;
@lighten-gray: #DDDDDD;
@lighter-gray: #cccccc;
@x-light-gray: #B6B6B6;
@light-cross-gray: #C4C4C4;
@xx-light-gray: #E0E0E0;
@xxx-light-gray: #E2E2F3;
@background-gray: #F4F4F4;
@background-light-blue: #F8F8FD;
@background-light-gray: #F0F8FA;
@background-gray-purple: #F4F6FD;
@divider-grey: #ECECEC;
@purple: #BBBAFF;
@background-red: #FFF4F4;
@error-color: #8b0000;
@bright-red: #FF2E2E;
@vk-color: #4A76A8;
@instagram-color: #F83180;
@telegram-color: #30A6DC;
@youtube-color: #FE0302;
@yellow: #F9D142;
@red: #FF7D7D;
@lime: #2DF187;
@green: #0ACF94;
@disabled: #779497;
@background-light-violet: #F2F2FF;

@main-font: Verdana, Tahoma, Arial, Helvetica;

@radius-small: 4px;
@radius: 6px;
@radius-big: 8px;
@radius-large: 10px;
@radius-larger: 12px;
@radius-x-large: 18px;
@radius-xx-large: 20px;

  // transitions
@fast: all 0.2s ease;
@normal: all 0.3s ease;
@slow: all 0.5s ease;
@x-slow: all 0.8s ease;

  // spaces
@space-xx-large: 48px;
@space-x-large: 32px;
@space-large: 24px;
@space-base: 16px;
@space-small: 12px;
@space-x-small: 8px;
@space-xx-small: 4px;
